<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><%= "ユーザー名: " + @user.name %></p>
    <p><%= "メールアドレス: " + @user.email %></p>
    <p><%= "ロケーション: " + @user.location %></p>
  </div>
</div>